<!doctype html>

<html>

	<head>
	
		<title> Корпус текстов Братьев Стругацких </title>
	 	<meta charset="utf-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Проект по Автобрее">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	
	<body style="background-color:#bdbec3;>

	<font face="courier new" >

		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background-color:#1b212c; border-bottom-color:#1b212c"
		
			<div class="container">
				<div class="navbar-header"> 
				
					<a class="navbar-brand" style="color:#d9e2e1"><font face="courier new" >Корпус Текстов Аркадия и Бориса Стругацких</a> 
				</div> 
				<nav class="collapse navbar-collapse" id="bs-navbar"> 
					<ul class="nav navbar-nav navbar-right"> 
						<li> <a style="color:#d9e2e1">Главная страница</a> </li>
					</ul>
				</nav> 
			</div>
		</nav>


		<header style="background-color:#bdbec3; padding-top:200px;"><header>
		<div class="container" style="background-color:#bdbec3; padding-top:10px; padding-bottom:200px;">
			<hr style="border-color:#292929;" "border: 2px solid blue;">
				<h1> <p class="text-center"> <b> Ничего не нашлось </b> <br> </h1> <h3> <p class="text-center">｀、ヽ(ノ＞＜)ノ ｀、ヽ｀ <br><br> Попробуйте проверить корректность введенных данных и сверьтесь с тегами </p></h3>
			<hr style="border-color:#292929;" "border: 2px solid blue;">
			</p></h4>
		</div>

		<footer class="bs-docs-footer" style="background-color:#1b212cd4"> 
			<div class="container"> 
				<p style="text-align:right;"><font color="#d9e2e1">&copy; Бахвалов Д. В., 2023</p> 
			</div>
		</footer>
		</font color>
	</body>
</html>
