<!doctype html>

<!-- так в HTML обозначаются комментарии. Выше вы видите объявление типа документа (DOCTYPE), так браузер понимает, что код ниже нужно интерпретировать как html -->

<html>

<!-- зона заголовка html, тег <title> - строка, которую браузер отображает на вкладках над страницами, <meta> и <link> сообщают технические сведения для браузера, например, что файл имеет кодировку Юникод (utf-8) -->

	<head>
	
		<title> Корпус текстов Братьев Стругацких </title>
	 	<!-- Required meta tags -->
	 	<meta charset="utf-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Проект по Автобрее">

		<!-- Bootstrap Core CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- Эта страница сделана с помощью bootstrap - популярной библиотеки для создания и настройки сайтов. Ниже вы увидите, что многие теги содержат атрибуты class - bootstrap содержит шаблоны, как такие элементы красиво оформить -->

	</head>
	
	<!-- body - главная, содержательная часть страницы. Контент на этой странице делится на меню (nav), "шапку" (header), "подвал" (footer) и все остальное (мы заключили остаток в тег section) -->	
	<body style="background-color:#bdbec3;>
<!-- меню (navigation bar) -->
	<font face="Tahoma" >

		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background-color:#1b212c; border-bottom-color:#1b212c"
		
<!-- div - это контейнеры - коробочки с текстом и/или графикой, которые можно вкладывать друг в друга. Пристально смотреть на теги в этой части кода не нужно -->
			<div class="container">
				<div class="navbar-header"> 
				
					<a class="navbar-brand" style="color:#d9e2e1"><font face="courier new" >Корпус Текстов Аркадия и Бориса Стругацких</a> 
				</div> 
				<nav class="collapse navbar-collapse" id="bs-navbar"> 
					<ul class="nav navbar-nav navbar-right"> 
						<li> <a style="color:#d9e2e1">Главная страница</a> </li>
					</ul>
				</nav> 
			</div>
		</nav>


<!-- часть страницы, которая под шапкой -->
		<header style="background-color:#bdbec3; padding-top:50px;"><header>
		<div class="container" style="background-color:#bdbec3; padding-top:30px; padding-bottom:50px;">
				<h2> Поиск:{{seearch}} </h2>
			<hr style="border-color:;" "border: 2px solid blue;">
				<h4>  
					<ol> <font color="#0f0f0f">
						<!-- For loop logic of jinja template -->
						{%for o in data%} 
  
						<li> {{o[0]}} <br>
						<i>"{{o[1]}}", Аркадий и Борис Стругацкие. [<a href="https://universaldependencies.org/u/pos/"style="color:#2b2e36"><u>strugacki.ru</u></a>] </li> </i>
						<br>
						{%endfor%} 
					</ol>
			<hr style="border-color:#0f0f0f;" "border: 2px solid blue;">
			</p></h4>
		</div>
<!-- это подвал. В этой части страницы обычно ставят копирайт (с помощью символа &copy;) и пишут об истории создания страницы. Поставьте свой копирайт -->
		<footer class="bs-docs-footer" style="background-color:#1b212cd4"> 
			<div class="container"> 
				<p style="text-align:right;"><font color="#d9e2e1">&copy; Бахвалов Д. В., 2023</p> 
			</div>
		</footer>
		</font color>
	</body>
</html>